<div class="max-w-screen-xl mx-auto px-4">
  <div class="flex flex-col items-center">
    <div class="w-full flex">
      <ng-template
        *ngIf="isLoading; then showMockUIBlock; else showBlock"
      ></ng-template>
      <!-- Mock UI -->
      <ng-template #showMockUIBlock>
        <div
          class="w-60 h-[340px] animate-pulse bg-gray-600 mr-4 rounded"
        ></div>
        <div class="flex flex-col space-y-3">
          <div class="w-52 h-16 mb-6 bg-gray-600 animate-pulse"></div>
          <div class="w-52 h-8 bg-gray-600 animate-pulse rounded"></div>
          <div class="w-52 h-8 bg-gray-600 animate-pulse rounded"></div>
          <div class="w-52 h-8 bg-gray-600 animate-pulse rounded"></div>
        </div>
      </ng-template>

      <!-- Real Content -->
      <ng-template #showBlock>
        <div class="flex justify-center">
          <img
            [src]="show.imageSet.verticalPoster.w240"
            class="min-w-[248px] min-h-[344px] h-full border-white hover:border-green-400 transition-all duration-200 border-4 rounded"
            alt=""
          />
        </div>
        <div class="flex flex-col pl-8">
          <div class="w-full flex flex-col space-y-6">
            <h1 class="text-white text-5xl font-medium w-full">
              {{ show.title }}
            </h1>
            <div class="flex flex-col space-y-4 text-gray-200 font-medium">
              <div class="flex flex-col">
                <!-- Release Year -->
                <span *ngIf="show.showType === 'movie'" class="text-lg">
                  {{ show.releaseYear }}
                </span>

                <!-- FirstAirYear and LastAirYear -->
                <span *ngIf="show.showType === 'series'" class="text-lg">
                  {{
                    show.firstAirYear && show.lastAirYear
                      ? show.firstAirYear + " - " + show.lastAirYear
                      : show.lastAirYear || show.firstAirYear
                      ? show.lastAirYear || show.firstAirYear
                      : ""
                  }}
                </span>

                <!-- Genres -->
                <span class="text-lg">
                  {{ getGenres() }}
                </span>
              </div>
              <div class="flex flex-col">
                <!-- Rating -->
                <span class="text-lg"> Rating: {{ show.rating / 10 }} </span>

                <!-- Type -->
                <span class="text-lg">
                  Type:
                  {{
                    show.showType.charAt(0).toUpperCase() +
                      show.showType.slice(1)
                  }}
                </span>
                <!-- Seasons -->
                <span class="text-lg">
                  Seasons:
                  {{ show.seasonCount }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="w-full flex mt-8">
      <div
        *ngIf="!isLoading"
        class="flex flex-col sm:min-w-[350px] sm:max-w-[350px] md:min-w-[500px] md:max-w-[500px] xl:min-w-[850px] xl:max-w-[850px] pr-14 text-gray-300 word-break overflow-hidden"
      >
        <p class="mb-6">
          {{ show.overview }}
        </p>
        <div class="flex flex-col space-y-2">
          <span class="w-full border-b-2 border-white"></span>

          <!-- Directors -->
          <div class="w-full flex py-2">
            <span class="mr-4">{{
              show.directors && show.directors.length > 1
                ? "Directors"
                : "Director"
            }}</span>
            <div class="flex space-x-2">
              <span *ngFor="let director of show.directors">
                {{ director }}
              </span>
            </div>
          </div>

          <span class="w-full border-b-2 border-white"></span>

          <!-- Cast -->
          <div class="w-full flex py-2">
            <span class="mr-4">Cast</span>
            <div class="flex flex-wrap">
              <span class="mr-5" *ngFor="let cast of show.cast">
                {{ cast }}
              </span>
            </div>
          </div>

          <span class="w-full border-b-2 border-white"></span>

          <!-- Countries -->
          <div class="w-full py-2">
            <span class="mb-4">Available in Countries</span>
            <div class="grid grid-cols-6 gap-x-4 gap-y-4">
              <div
                class="p-2 rounded bg-slate-600 cursor-pointer"
                *ngFor="let country of countries | keyvalue"
              >
                {{ country.value }}
              </div>
            </div>
          </div>

          <span class="w-full border-b-2 border-white"></span>
        </div>
      </div>
      <!-- Recommended Shows -->

      <div class="grid grid-cols-2 gap-x-10 gap-y-8">
        <ng-template
          *ngIf="
            recommendedShows;
            then recommendedShowsBlock;
            else recommendedShowsMockUIBlock
          "
        >
        </ng-template>
        <!-- Mock UI -->
        <ng-template #recommendedShowsMockUIBlock>
          <div
            *ngFor="let i of counter(6)"
            class="w-44 h-60 animate-pulse bg-gray-600 mr-4 rounded"
          ></div>
        </ng-template>

        <!-- Recommended Shows -->
        <ng-template #recommendedShowsBlock>
          <a
            [routerLink]="['/show', show.id]"
            *ngFor="let show of recommendedShows"
            class="flex justify-center"
          >
            <img
              [src]="show.imageSet.verticalPoster.w240"
              class="h-full border-white hover:border-green-400 transition-all duration-200 border-4 rounded"
              alt=""
            />
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</div>
